@use "./global";
@use "./components/btn";

// index.html
.section__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
body{
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 160px;

        img {
            width: 100%;
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        a {
            margin-left: 4rem;

            // second child
            &:nth-child(2) {
                color: global.$color-gray;
            }
        }
    }
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero__text {
        width: 45%;

        p {
            margin-bottom: 3rem;
        }
    }

    .hero__image {
        width: 45%;

        img {
            width: 100%;
        }
    }
}

footer {
    padding: 2rem 0;
    background-color: global.$color-primary;

    .footer__text {
        display: flex;

        .footer__title {
            color: global.$color-white;
            margin-right: 1rem;
        }
    }
}

#container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        flex-direction: column;
        width: 90%;
    }
    @media (max-width: 980px) {
        width: 90%;
    }
}

#configurator {
    width: 50%;
    height: 70vh;
}

#configurator__options {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        width: 100%;
        justify-content: space-between;

        li {
            font-size: 1.5em;
            line-height: 1.1;
        }
    }
}

.donut__glaze {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4rem;
    width: 100%;
    justify-items: center;
    overflow: scroll;

    a {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 5%;
    }
}

.donut__topping {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4rem;
    width: 100%;
    justify-items: center;
    overflow: scroll;

    a {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 5%;
        background-position: center;
        background-size: cover;
    }
}

.donut__bake {
    display: none;
}

.logo__configurator {
    height: 8vh;
}

.header__configurator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1vh;
    margin-bottom: 9vh;
}

.configurator__steps {
    b {
        color: global.$color-primary;
        font-weight: 800;
    }
}

.donut__brandtag {
    display: none;
    height: 100%;
    input[type="file"] {
        color: transparent;
        text-align: center;
        width: 79%;
    }
    input::file-selector-button {
        font-weight: bold;
        color: #ffffff;
        padding: 1.5rem 0rem;
        border: none;
        border-radius: 3px;
        width: 100%;
        background-color: #e72c70;
        font-size: 1.5rem;
        font-family: "Dosis", sans-serif;
    }
    input[type="submit"] {
        background-color: #82d1e4;
        padding: 1.5rem 0rem;
        border-radius: 3px;
        border: none;
        width: 20%;
        font-size: 1.5rem;
        color: #ffffff;
        font-weight: bold;
    }
    form{
        width: 100%;
    }
    input[type="submit"]:disabled {
        background-color: #e0e0e0;
    }
    div{
        width: 100%;
        //height is equal to width/2
        height: 0;
        padding-bottom: 55%;
        border: 5px dashed #e72c70;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #818181;
        margin-top: 1%;
        background-size: cover;
        background-position: center;
        transition: 1s ease;
    }
}
.donut__bake{
    width: 100%;
    height: 100%;
    input, textarea{
        width: 100%;
        height: 20%;
        border: none;
        border-bottom: 4px solid#e72c70;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 3px;
    }
    //input and textarea focus
    input:focus, textarea:focus{
        outline: none;
        border-bottom: 4px solid#82d1e4;
        transition: 0.4s ease;
    }
    textarea{
        margin-top: 2%;
        height: 50%;
    }
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #b1b1b1;
        font-weight: 100;
    }
}
.loading__screen{
    background-color: #e72c70;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 8%;
    }
}
.loading__screen__animation{
    opacity: 1;
    animation: fadeOut 0.7s forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}