@use "./global";

.body__index{
    overflow: auto;
}

.landing__header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 160px;
            margin: 2rem auto;

            img {
                width: 100%;
            }
        }
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60%;

        @media (min-width: 2000px) {
            height: 70%;
        }

        .hero__text {
            color: global.$color-white;
            width: 50%;

            @media (max-width: 980px) {
                width: 80%;
            }

            @media (min-width: 2000px) {
                width: 40%;
            }

            h1 {
                margin-bottom: 3rem;
            }
        }
    }
}

.steps {
    max-width: 1400px;
    margin: 0 auto;

    .steps__title {
        text-align: center;
        margin: 5rem 0 10rem 0;
        h2 {
            color: #e72c70;
            font-size: 3rem;
        }
    }

    .steps__step {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 15%;
        margin-bottom: 10rem;
        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        .steps__step__text {
            width: 55%;

            h3 {
                margin-bottom: 1rem;
                color: #e72c70;
                font-size: 2.5rem;
            }
        }

        .steps__step__image {
            width: 30%;
            text-align: center;

            img {
                width: 100%;
            }
        }
        @media screen and (max-width: 580px) {
            flex-direction: column;
            gap: 0;
            width: 90%;
            &:nth-child(odd) {
                flex-direction: column;
            }
            .steps__step__text {
                width: 100%;
            }
            .steps__step__image {
                width: 100%;
            }            
        }

    }
}

.clients{
    background-color: #e72c70;
    padding-bottom: 8rem;
    padding-top: 2rem;
    text-align: center;

    .clients__title {
        color: #fff;
        margin-bottom: 4rem;
    }
    .clients__logos {
        //display 2 rows of 4 logos
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 6rem;
        margin: 0 auto;
        width: 80%;
        align-items: center;
        margin: 0 auto;

        img {
            width: 40%;
            margin: 0 auto;
        }
    }
}

.testimonial{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 8rem;
    padding-top: 4rem;

    img {
        width: 100%;
    }
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }
}