@use "../global";

.btn {
  padding: 16px 40px;
  border-radius: 50px;
  background-color: global.$color-primary;
  color: global.$color-white;
  border: none;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn--active {
  background-color: global.$color-secondary;
}

.btn--inactive {
  background-color: global.$color-gray;
}
.configurator__btn{
  width: 48%;
  float: right;
}
.configurator__btn--inactive{
  width: 48%;
  background-color: global.$color-gray;
  cursor: default;
  float: right;
}